# Modèle (trop lourd pour GitHub)
models/*.pth

# Logs
logs/
*.jsonl

# MLflow
mlruns/

# Python
__pycache__/
*.pyc
.coverage
*.egg-info/

# Docker
.dockerignore

# Coverage
coverage.xml
.pytest_cache/
